<div class="padding">

  <div id="<%= contract.contract_addr %>_nav">
  </div>

  <div id="<%= contract.contract_addr %>_prices">
  </div>

  <div class="panel panel-default log-container">
    <div class="panel-heading">
      <h3 class="panel-title">Transaction log</h3>
    </div>
    <div class="panel-body">
      <div class="log">
        <div id="<%= contract.contract_addr %>_log">
        </div>
      </div>
    </div>
  </div>

</div>
