body, html {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
}

#header {
  width: 100%;
  font-size: 18px;
  height: 80px;
  padding: 0;
  margin-bottom: 8px;
}
#header img {
  height: 80px;
  vertical-align: middle;
}

#content {
  padding-bottom: 12px;
}

#footer {
  background: #eee;
  padding: 1em;
  border-top: 1px solid #ccc;
}

#connection {
  clear: both;
}

#market-spinner {
  margin-bottom: 12px;
}
#market {

}

#log-container {
  display: none;
  background: #cef;
}
#log {
  height: 100px;
  overflow-y: auto;
}

.pad {
  margin: 8px;
}

.events-container {

}
.events {
  height: 400px;
  overflow-y: auto;
}

.list-spacing li {
  margin-bottom: 1em;
}
